# Generals
.DS_Store
.idea
*.iml
.vscode

# Deps
vendor/**

# PKI
*.crt
*.csr
*.cer
*.pem
*.key
!**/testdata/*.cer
!**/testdata/*.pem

# protobuf / RPC
*.swagger.json

# Test coverage report
coverage.html
coverage.report
